body{
    background: rgb(255, 255, 255);
    transition: 2s;
}
span{
    color: rgb(44, 39, 39);
}
.text-dark{
    color: rgb(44, 39, 39);
}
.content-section_item-parargaph span{
    color: rgb(44, 39, 39);
}
.content-section_item-text i{
    color: rgb(44, 39, 39);
}
.footer{
    color: rgb(44, 39, 39);
}
.footer_nav-item a{
    color: rgb(44, 39, 39);
}
.header_nav-link a:hover{
    color: rgb(44, 39, 39);
}
.button_theme {
    color: orange;
    border: none;
    color: #fe9b00;
    position: relative;
    -webkit-transition: all 2s;
    transition: all 2s;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}